<!DOCTYPE html>
<html lang="cn">

<head>
  <title>mini-vue2</title>
</head>

<body>
  <div id="app">
    <h1>模板表达式</h1>
    <h3>{{ msg }}</h3>
    <h3>{{ count }}</h3>
    <br />

    <h1>v-text测试</h1>
    <div v-text="msg"></div>
    <br />

    <h1>v-html测试</h1>
    <div v-text="testHtml"></div>
    <br />

    <h1>v-model测试</h1>
    <input type="text" v-model="msg">
    <input type="text" v-model="count">
    <button v-on:click="handler">按钮</button>

  </div>
  <script src="./index.js" type="module"></script>
</body>

</html>